/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/06/2016, 11:10:57 AM
    Author     : Jorge
*/

body {
    color: black;
    background-image: url("img/WP6L2MV5.jpg");
}

header {
    background: transparent;
    color: white;
    font-style: initial;
    font-weight: 900;
    font-family: fantasy;
    padding: 15px;
    font-size: 80px;
}

header div {
    display: inline-block;
}

header nav {
    background: #000;
}

header nav ul {
    list-style: none;
    overflow: hidden;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 10px 20px;
    display: block;
    color: #000;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #fff;
    color: #000;
}

header div img {
    width: 300px;
    float: left;
}

a {
    font-family: serif;
    font-size: 30px;
}

div a {
    text-align: center;
}

a:link, a:visited {
    background-color: transparent;
    color: white;
    padding: 9px 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

img {
    width: 300px;
    margin: auto;
    display: block;
}

p {
    color: white;
    font-size: 30px;
}

section div {
    display: inline-block;
    margin: 100px;
}

section div a img {
    width: 400px;
}

header div t {
    margin: 20px 0px;
    padding: 35px 0px;
    float: left;
}

label {
    text-align: center;
    color: white;
    font-size: 30px;
}

h1 {
   text-align: center;
    color: white;
    font-size: 100px; 
}

h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    background: #000;
}

h3 {
    text-align: left;
    color: white;
    font-size: 30px;
}

h4 {
   color: white; 
   font-size: 30px;
}

movie div {
    margin: auto;
    padding: 0px 29%;
}

td {
    font-size: 25px;
    color: #fff;
    
}
